package ${packageName}.domain.po;

#foreach ($import in $importList)
import ${import};
#end
import com.baomidou.mybatisplus.annotation.*;
import com.truntao.common.core.domain.BaseEntity;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.ToString;

import java.io.Serial;
#if($table.crud || $table.sub)
#elseif($table.tree)
#end

/**
 * ${functionName}对象 ${tableName}
 *
 * @author ${author}
 * @date ${datetime}
 */
#if($table.crud || $table.sub)
#set($Entity="BaseEntity")
#elseif($table.tree)
#set($Entity="TreeEntity")
#end
@EqualsAndHashCode(callSuper = true)
@Data
@TableName("${tableName}")
@ToString
public class ${ClassName} extends ${Entity}{
    @Serial
    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if(!$table.isSuperColumn($column.javaField))
#if($column.list)
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#end
    #if($column.pk == "1")
    /** $column.columnComment */
    @TableId(value = "${column.columnName}",type = IdType.AUTO)
    private $column.javaType $column.javaField;
    #elseif($column.columnName == 'del_flag')
    /** $column.columnComment */
    @TableField("${column.columnName}")
    @TableLogic
    private $column.javaType $column.javaField;
    #elseif($column.javaField == 'createTime'|| $column.javaField == 'updateTime'|| $column.javaField == 'createBy'|| $column.javaField == 'updateBy')

    #else
    /** $column.columnComment */
    @TableField("${column.columnName}")
    private $column.javaType $column.javaField;
    #end
#end
#end
#if($table.sub)
    /** $table.subTable.functionName信息 */
    private List<${subClassName}> ${subclassName}List;

#end
#if($table.sub)
    public List<${subClassName}> get${subClassName}List(){
        return ${subclassName}List;
    }

    public void set${subClassName}List(List<${subClassName}> ${subclassName}List){
        this.${subclassName}List = ${subclassName}List;
    }
#end
}
